 
 * {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

 }

 body {

    background: #000000;
    
    color: #e7e7e7;

    line-height: 1.5;

    font-family: sans-serif;

    

 }

 .body::before {

       position: absolute;

    content: '';

    height: 10%;

    width: 40px;

    box-shadow: 0 0 500px 20px rgb(255, 0, 153),
                0 0 700px 30px rgb(255, 0, 153),
                0 0 500px 10px #49066E;

    z-index: 1;

    left: 90%;

   background: rgb(255, 0, 153);

   filter: blur(110px);

 }



 .img {

    position: absolute;

    top: 0;

    right: 0;

    z-index: -1;

    pointer-events: none;

 }

 .blur {

    height: 0;

    width: 30rem;

    position: absolute;

    top: 20%;

    right: 0;

    box-shadow: 0 0 700px 16px rgb(255, 0, 153);

    rotate: -20deg;

    z-index: -1;

 }

 .container {

   width: 100%;

   margin: 0 auto;

   padding: 0 2rem;

   position: relative;

   overflow: hidden;

 }

 .robot {

   position: absolute;

  right: -20%;

   top: -10px;

   pointer-events: none;

   


}



@media (max-width: 1300px) {

   .robot {

       scale: 0.8;

       top: -20%;

       right: 2%;

   }

}

@media (max-width: 768px) {

   .robot {

       scale: 0.5;

       top: -25%;

       right: 0;

       position: absolute;

   }

   .container {

      padding: 0 1rem;

   }

   .nn {

      overflow-x: hidden;

   }

}

 .about_container {

   position: relative;

 }


 
 ::-webkit-scrollbar {

   width: 12px;

 }

 ::-webkit-scrollbar-thumb {

   background: linear-gradient(transparent, rgb(255, 0, 135));

   border-radius: 10px;
   
   transition: 1s ease;
 }


 ::-webkit-scrollbar-thumb:hover {

   background: linear-gradient(transparent, #8b00d6);

 }