@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1rem 5rem;

    z-index: 999;

    font-family: outfit;

}

header .navbar_logo {

    margin: 0;

    font-size: 3rem;

    font-weight: 300;

    background: #FF0099;

    background: linear-gradient(to right, #FF0099 0%, #CF48CF 100%);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;

    cursor: pointer;

    
}

nav {

    display: flex;

    align-items: center;

    gap: 2rem;

    margin-left: -6%;

    background: #131317;

    border: 1px solid rgba(255,255,255,0.1);

    height: 70px;

    width: 470px;

    padding-left: 25px;

    border-radius: 20px;

    transition: 0.4s ease;

    z-index: 100;

}

nav:hover {

    background: #32323a;

}

nav a {

    text-decoration: none;

    font-size: 19px;

    font-weight: 500;

    color: #c9c9c9fc;

    transition: color 0.5s ease, transform 0.3s ease;

    cursor: pointer;

}

nav a:hover {

    color: #fff;

}



.social_icon {

    font-size: 1.875rem;

    line-height: 2.25rem;

    cursor: pointer;

    z-index: 100;

    color: #c9c9c9fc;

    transition: 0.5s ease;

}

.social_icon:hover {

    color: #fff;

}




@media (max-width: 1300px) {

    header {

        padding: 1rem 0.5rem;

    }

}


@media (max-width: 768px) {

    header {

        padding: 1rem 1.2rem;

    }

    nav {

        display: none;

    }

    header h1 {

        font-size: 2rem;

    }

    .btn-signing {

        padding: 0.6rem 1.5rem;

    }

    .social_icon {

        font-size: 1.5rem;

        margin-right: 2rem;

    }

}